#faq_column{
 width:220px;
 border-top: 1px solid  #CCCCCC;
 h3{
   padding: 13px 0;
 }
 ul{
   color:#29ABE2;
   margin: 0;
   padding: 0 12px;
   li{
     margin-bottom: 15px;
     a{
       color:#29ABE2;
     }
   }
 }
}
#form_container{
  border:1px solid #CCCCCC;
}
form{
  padding:20px;
  div{
    position:relative;
    margin-bottom:15px;
    label{
      input,select{
        margin-top:5px;
        width:400px;
        height:30px;
        border:1px solid #CCCCCC;
      }
      input[name="mobile"]{
        width:350px;
      }
      textarea{
        resize:none;
        width:675px;
        height:225px;
        margin-top:5px;
        border:1px solid #CCCCCC;
      }
      select{
        padding: 2px 0 0;
      }
    }
  }
  input[type="submit"]{
    margin: 25px 0;
  }
}
label.error{
  left: 75px;
    position: absolute;
    top: 2px;
}
