/*----------------------------------------------------------------------
		SEEKERS CSS
----------------------------------------------------------------------*/

#outer_wrapper {
	background-image: none;
  #contentColumn {
  	width: 100%;
  	padding:43px;
  }
}

