/**************************************/
/*              main                  */
/**************************************/
* {
  font-size: 12px;
}

body {
  background-color: #FFFFFF;
  color: #333333;
  #wrapper {
    width:100%;
    div[id*='content_wrapper']{
      border:1px solid #ccc;
      min-height: 300px;
      min-width:1024px;
      > div:first-child{
        height:500px;
        min-width:1024px;
        position:relative;
        width:100% !important;
      }
    }
  }
}
.invalid{
  border:1px solid #29ABE2 !important;
}
.error{
  color:#29ABE2 !important;
}
.sprite{
  background:{
    image:url('/Project/Design/1_Website/Main_Layout/images/eldercare_sprites.png');
    repeat:no-repeat;
  }
  display:inline-block;
}
input{
  background-color:#FFFFFF !important;
}
.continueSearching{
  font-size:0px;
  background-position: -1591px -243px;
  width: 174px;
  height: 45px;
}
.loginError{
  top: 20px;
  right: -205px;
  font-size: 0px;
  display: block;
  box-shadow: none;
  position: absolute;
  height: 41px !important;
  width: 180px !important;
  background-position: -1025px -596px;
}
.back{
  font-size:0px;
  display:block;
  height: 28px;
  width: 147px;
  background:{
    position: -797px -236px;
  }
}
.back_to_result{
  display:block;
  height: 28px;
  width: 192px;
  background:{
    position: -802px -511px;
  }
}
.finish{
  background:{
    position: -978px -235px;
  }
    display: block;
    height: 58px !important;
    width: 202px !important;
    &:hover{
      background:{
        position: -978px -293px;
      }
    }
}
.proceed_to_next{
  font-size:0px;
  display: block;
  box-shadow:none;
  height: 43px !important;
  width: 240px !important;
  background:{
    position: -1027px -647px;
  }
  &:hover{
    background:{
      position: -1027px -696px;
    }
  }
}
.register{
  font-size:0px;
  display: block;
  box-shadow:none;
  height: 43px !important;
  width: 186px !important;
  background:{
    position: -801px -753px;
  }
  &:hover{
    background:{
      position: -801px -807px;
    }
  }
}
.semi_transparent{
  background:{
    image:url('/Project/Design/1_Website/Main_Layout/images/semi-transparent-border.png');
  }
}

.price_expensive,.price_moderate,.price_conservative{
  height:11px;
  margin-bottom: -2px;
  display:inline-block;
}
.price_expensive{
  width:84px;
  background:{
    position:-1211px -459px;
  }
}
.price_moderate{
  width:54px;
  background:{
    position:-1048px -459px;
  }
}
.price_conservative{
  width:26px;
  background:{
    position:-918px -459px;
  }
}
input.add_home{
  float:right;
  height: 21px;
  width: 161px;
  font-size:0px;
  background:{
   position: -798px -321px;
   }
   &:hover{
     background:{
      position: -798px -295px;
    }
  }
}
.get_started{
  width:315px;
  height:76px;
  font-size:0px;
  background:{
    position: -1200px -19px;
  }
    &:hover{
      background:{
        position: -1200px -106px;
    }
  }
}
.send{
  width:169px !important;
  height:46px !important;
  font-size:0px;
  background:{
    position: -1213px -242px;
  }
    &:hover{
      background:{
        position: -1213px -298px;
    }
  }
}
.request_info{
  width:210px !important;
  height:40px !important;
  font-size:0px;
  margin: 0 2px;
  display:inline-block;
  background:{
    position:-35px -690px;
  }
  &:hover{
    background:{
      position:-35px -735px;
    }
  }
}
.shortlisted{
  float:right;
  height: 24px;
  width: 164px;
  font-size:0px !important;
  background:{
    position: -796px -267px;
  }
}
#search_result{
  .view_property{
    width:200px;
    height:25px;
    float:left;
    font-size:0px !important;
    background:{
      position:-40px -620px;
    }
    &:hover{
     background:{
      position:-40px -651px;
      }
    }
  }
}
.arrow_right{
  width:27px;
  height:27px;
  float:left;
  font-size:0px !important;
  background:{
    position: -821px -368px;
  }
}
.view_sample_listing{
  width:190px;
  height:30px;
  display:inline-block;
  margin-top: 45px;
  font-size:0px !important;
  background:{
    position: -888px -365px;
  }
}
.transparent_gray{
  background:{
    image: url("/Project/Design/1_Website/Main_Layout/images/shortlist-view-backgound.png");
  }
}

.popupDialog {
  background:{
    image:url('/Project/Design/1_Website/Main_Layout/images/popup-background.png');
    color: #29ABE2;
    repeat:no-repeat;
    position:center;
  }
  
    border-radius: 4px 4px 4px 4px;
    box-shadow: 5px 5px 28px #333333;
    color: #FFFFFF;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -270px;
    padding: 50px 30px;
    position: fixed;
    text-align: left;
    top: 40%;
    width: 540px;
    z-index: 999;
    .close{
      position:absolute;
      top:0px;
      right:5px;
      font-size:18px;
    }
    form{
      #proceedNow{
        top: 16px!important;
        left: 159px!important;
        }
      span{
        left: 297px;
        position: relative;
        text-decoration: underline;
        top: -18px;
        input{
          position:absolute;
          background-color:transparent !important;
          opacity:0;
          font-size:0px;
          z-index:1000;
          height:18px;
          width:87px;
          top:0;
        }
      }
    }
}

.fieldLegend{
  width: 237px;
  height: 20px;
  margin-left: 10px;
  font-size: 0px;
  background-position: -1224px -517px;
}
#zipcode_list {
  left: 1px;
  z-index: 2;
  height: auto;
  padding: 0 10px;
  display: none;
  min-width: 228px;
  background-color: white;
  box-shadow: 0 3px 3px #333333;
  position: absolute !important;
  ul{
    padding:0;
    list-style:none !important;
    li{
      cursor:pointer;
    }
  }
}
#about,#contact_us,#sitemap{
  #header_banner {
    background:{
      image: url("/Project/Design/1_Website/Applications/Seeker/images/search_header_banner.jpg");
      size: cover;
      repeat: no-repeat;
      position: center center;
      
    }
    height: 449px !important;
    position: relative;
    width: 100%;
    .semi_transparent {
      bottom: 0;
      height: 200px;
      left: 50%;
      margin-left: -516px;
      position: absolute;
      width: 1032px;
    }
  }
  #page_content {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: -195px auto 0;
    padding: 20px;
    position: relative;
    width: 1024px;
    min-height:300px;
    z-index: 100;
  }
}

.next{
  box-shadow: none;
  width: 55px !important;
  height: 20px !important;
  margin-left: 25px;
  font-size:0px;
  background-position: -1141px -517px;
}
.previous{
  box-shadow: none;
  width: 85px !important;
  height: 20px !important;
  margin-left: 25px;
  font-size: 0px;
  background-position: -1018px -517px;
}
//JQUERY UNIFORM CSS
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
    background-image: url("/Project/Design/1_Website/Main_Layout/images/sprite.png")!important;
    background-repeat: no-repeat;
}
label .checker{
  margin:0 !important;
  > span{
    margin-right:10px;
  }
}
//END OF JQUERY UNIFORM CSS



#zip_list{
  li.activeZip{
    background-color:#36A9E1;
  }
}

/*overide*/
#suggestion_list{
  padding:10px 0 !important;
  li{
    padding:0 10px !important;
  }
}
