span.sprite {
	display: inline-block;
	background-repeat: no-repeat;
	background-color: transparent;
}

@mixin spriteImage($width, $height, $x, $y) {
	@extend span.sprite;
	width: $width;
	height: $height;
	background-position: $x $y;
	background-size: auto;
	background-image: url("/Project/Design/1_Website/Applications/User_Account/Controllers/profile/images/hcp_sprites.png");
}

@mixin spriteButton($width, $height, $x, $y) {
	@extend span.sprite;
	width: $width !important;
	height: $height !important;
	border: none;
	vertical-align: middle;
	background-position: $x $y;
	background-image: url("/Project/Design/1_Website/Applications/User_Account/Controllers/profile/images/hcp_sprites.png");
	&:hover {
		background-position: $x - $width $y;
	}
}

@mixin centerElement($width, $height) {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: $height;
	width: $width;
}


