/**************************************/
/*              HEADER                */
/**************************************/
#header #welcome_section {
  margin: 20px auto; }
  #header #welcome_section span {
    display: inline-block; }
  #header #welcome_section a {
    color: white; }
  #header #welcome_section #primary_nav {
    list-style: none;
    padding: 0;
    margin: 1px 85px 0 0;
    float: left; }
    #header #welcome_section #primary_nav li {
      float: left;
      line-height: 10px;
      border-right: 1px solid #FFFFFF; }
      #header #welcome_section #primary_nav li a {
        font-size: 12px;
        padding: 0 10px; }
      #header #welcome_section #primary_nav li.last, #header #welcome_section #primary_nav li#cms {
        border: none; }
      #header #welcome_section #primary_nav li#settings span {
        background-image: url("/Project/Design/2_Enterprise/Main_Layout/images/enterprise_icons_sprite.png");
        background-repeat: no-repeat;
        background-position: -13px -115px;
        padding-left: 8px; }
#header #navigation {
  width: 100%;
  height: 64px;
  border-radius: 4px;
  background-image: url("/Project/Design/2_Enterprise/Panels/header/images/navigation_background.png");
  padding: 4px; }
  #header #navigation #slider_container #primary_nav {
    margin: 0;
    padding: 0;
    background-image: url("/Project/Design/2_Enterprise/Panels/header/images/navigation_ul_background.png");
    height: 56px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden; }
    #header #navigation #slider_container #primary_nav li {
      background-image: url("/Project/Design/2_Enterprise/Main_Layout/images/enterprise_buttons_and_icons_sprite.png");
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: -997px -82px;
      width: 114px;
      height: 100%;
      text-align: center;
      margin-left: 1px;
      display: inline;
      float: left; }
      #header #navigation #slider_container #primary_nav li:active, #header #navigation #slider_container #primary_nav li.active {
        background-position: -883px -82px; }
        #header #navigation #slider_container #primary_nav li:active a, #header #navigation #slider_container #primary_nav li.active a {
          color: #4E4E4E; }
      #header #navigation #slider_container #primary_nav li.last {
        margin-right: 1px; }
      #header #navigation #slider_container #primary_nav li a {
        text-decoration: none;
        padding: 19px 0;
        float: left;
        color: white;
        font-size: 12px;
        font-weight: bold;
        width: 116px;
        overflow: hidden; }
      #header #navigation #slider_container #primary_nav li#hcps span a {
        line-height: 13px;
        padding: 15px 0;
        width: 113px; }
