/*** Login Module ******************************************************************************************************************************/
#login_container {
  width: 250px; }
  #login_container #hello_text {
    background-image: url("/Project/Design/2_Enterprise/Applications/User_Account/Main_App_Layout/images/hello_text.png");
    background-repeat: no-repeat;
    background-position: -7px;
    width: 200px;
    height: 100px; }
  #login_container #login-form table tbody tr {
    vertical-align: top; }
    #login_container #login-form table tbody tr #login_error {
      line-height: 5px;
      float: left; }
    #login_container #login-form table tbody tr td input[type='text'], #login_container #login-form table tbody tr td input[type='password'] {
      height: 25px;
      width: 230px;
      background: #CCCCCC;
      border-radius: 2px;
      border: 1px;
      padding: 0 5px;
      margin: 12px 0; }
      #login_container #login-form table tbody tr td input[type='text']:focus, #login_container #login-form table tbody tr td input[type='password']:focus {
        background: #EDEDED;
        outline: #36A9E1; }
    #login_container #login-form table tbody tr td input[type='submit'] {
      height: 55px;
      width: 230px;
      margin: 50px 0;
      background-position: -8px -9px; }
      #login_container #login-form table tbody tr td input[type='submit']:active {
        background-position: -8px -76px; }
    #login_container #login-form table tbody tr td span {
      color: #B1B1B1;
      display: inline-block; }
      #login_container #login-form table tbody tr td span#forgot_password {
        color: #35A8E0; }

div.checker {
  margin-top: -2px; }
