/*** Reset Password Module ******************************************************************************************************************************/

#resetPasswordContainer
{
  margin-top:10% !important;
  width: 250px;
  form{
    table{
      tbody{
        tr{
          vertical-align: top;
          #login_error{
            line-height: 5px;
            float: left;
          }
          td{
            input{
              &[type='text']{
                height: 25px;
                width: 230px;
                background: #CCCCCC;
                border-radius: 2px;
                border: 1px;
                padding: 0 5px;
                margin: 12px 0;
                &:focus{
                  background: #EDEDED;
                  outline:#36A9E1;
                }
              }
              &[type='submit']{
                font-size:0px;
                height:54px;
                width:228px;
                margin: 50px 0;
                background:{
                  image:url('/Project/Design/2_Enterprise/Applications/Forgot_Password/Controllers/forgot_password/images/send-botton.png');
                  position: -2px -56px;
                  repeat:no-repeat;
                }
                &:active{
                  background-position: -2px -1px;
                }
              }
            }
            span{
              color:#B1B1B1;
              &#emailConfirmation{
                color:#35A8E0;
              }
            }
            label{
              line-height:20px;
            }
          }
        }
      }
    }
  }
}
div.checker{
  margin-top: -2px;
}
