/*----------------------------------------------------------------------
    DASHBOARD CSS
----------------------------------------------------------------------*/
#outer_wrapper {
  background-image: none; }
  #outer_wrapper #contentColumn {
    width: 100%;
    padding: 43px; }
