/**************************************/
/*            REGISTRATION            */
/**************************************/
[id*="_content_wrapper"]{
  #header_banner{
    background:{
      image:url('/Project/Design/1_Website/Applications/Seeker/images/search_header_banner.jpg');
    }
  }
  #page_content{
    h1{
      font-size:28px;
      span{
        color:#29ABE2;
        font-size: 36px;
      }
      &.welcome{
        font-size: 36px;
      }
    }
    ol{
      list-style:none;
      padding:0;
      li{
        span{
          color:#29ABE2;
        }
      }
    }
    h4{
      padding:10px;
      color:#4D4D4D;
      clear:both;
      background-color:#F2F2F2;
      a{
        color:#29ABE2;
      }
    }
    .transparent_gray{
      height:120px;
      width:230px;
      vertical-align:middle;
    }
    #register_column{
     width:748px;
     padding: 3px;
     min-height:300px;
     border:1px solid #CCCCCC;
     a{
       color:#333333;
       text-decoration:underline;
     }
     h3{
       background:{
         color:#E7E8E8;
       }
       height:50px;
       padding: 13px 20px;
       box-shadow: 0 1px 2px #B9B9B9;
       .lock{
         background:{
          position:-821px -430px;
         }
         width:190px;
         height:15px;
         display:inline-block;
       }
       .lock2{
         background:{
          position: -821px -488px;
         }
         width:405px;
         height:15px;
         display:inline-block;
       }
     }
     form{
       padding:20px;
         
       div{
         position:relative;
         margin-bottom:15px;
         #invalidZipcode{
          position: absolute;
          top: 32px;
          left: 232px;
         }
         #email_checker_response{
            position: absolute;
            top: 31px;
            left: 231px;
         }
         label{
           display: inline-block;
           margin: 5px 0;
           input,select{
             margin-top:5px;
             width:230px;
             height:25px;
             border:1px solid #CCCCCC;
           }
           input[type="checkbox"]{
             height: 0;
             margin: 0;
             width: 25px;
           }
           input[name*="price"]{
             width: 82px;
             color:#B3B3B3;
             &:focus{
               color:#333333;
             }
           }
           &[for="agreement"]{
              width: 135px;
              top: -3px;
              position: absolute;
              left: 335px;
           }
           &[for="marketing_agreement"]{
              width: 135px;
              top: -3px;
              position: absolute;
              left: 335px;
           }
         }
         #suggestion_list{
            background-color: white;
            box-shadow: 0 3px 3px #333333;
            display: none;
            height: auto;
            left: 1px;
            min-width: 227px;
            padding: 10px;
            position: absolute;
            top: 46px;
            z-index: 2;
           ul{
             list-style: none outside none;
              margin: 0;
              padding: 0;
              li{
                color: #333333;
                cursor:pointer;
                &:hover{
                  text-decoration:underline;
                }
              }
           }
         }
       }
       input[type="submit"]{
         margin: 25px 0;
       }
     }
    }
    #faq_column{
     width:220px;
     border-top: 1px solid  #CCCCCC;
     h2{
       padding: 13px 0;
       line-height:15px;
       width: 105%;
     }
     p{
       line-height:15px;
       font-size:12px;
     }
      a{
        color:#29ABE2;
      }
    }
  }
}
#cart{
  width: 1024px;
  margin:0 auto;
}

.registration_text{
  width:430px;
  height:37px;
  color:#999999;
  display:block;
}

img[src*="Eldercare_HCP-sample-listing-image.gif"]{
  z-index:-1;
}

.checker{
   float:left;
   margin-right:10px !important;
}