.ui-datepicker-title {
	font-size: 12px;
}

.ui-datepicker th, .ui-datepicker td {
	font-size: 10px;
	width: auto;
	min-width: auto;
	min-height: auto;
	height: auto;
}

.ui-widget-header { background-image: none; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {  border-radius: 0; }
