/*----------------------------------------------------------------------
		SEEKERS CSS
----------------------------------------------------------------------*/

.table_container {
	table { width: 100%; }
	td, th { min-width: 100px; }
	.pagination { width: 823px; }
}

